
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f8f8f8;
}

body > .container {
	padding: 60px 15px 0;
}


.footer > .container {
	/*padding-right: 15px;*/
	/*padding-left: 15px;*/
	padding: 1%;
}


.buttons {
	display: inline-block;
}

.row {

}

.log {
	margin-top: 2%;
	display: inline-block;
	height: 100%;
}

.bubble {
	border: 1px solid lightgray;
	padding: 5%;
	border-radius: 5px;
	width: 25%;
	display: inline-block;
	vertical-align: top;
	height: 100%;

	/*margin: 1%;*/
}


.adder {
	height: 100vh;
	width: 100%;
}

.cancel {
	margin-top: 2%;
}


.input-group {
	display: inline-block;
}


.res-btn {
	margin-top: 2%;
}

.imm-btn {
	margin-top: 2%;
}

.act-btn {
	margin-top: 2%;
}